@font-face {
    font-family: Gilroy;
    src: url(../font/Gilroy.otf);
}

* {
    color: rgb(215, 215, 215);
    font-family: 'Gilroy';
}

h1,
h2,
h3 {
    text-align: center;
}

p {
    padding-left: 90px;
}

body {
    background-color: black;
    margin: 0;
}

button {
    border: 1px solid rgb(255, 255, 255);
    /*background-color: rgb(100, 100, 100);*/
    background-color: rgba(0, 200, 0, 0.2);
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    width: 49.7%;
}

button:disabled {
    /*background-color: rgba(53, 53, 53, .5);*/
    background-color: rgba(200, 0, 0, 0.2);
}

hr {
    width: 80%;
    border-bottom: 1px white dashed;
}

canvas {
    display: block;
}

table {
    margin-top: 50px;
    border: 2px solid grey;
    width: 100%;
}

td {
    border: 1px solid rgb(184, 184, 184);
    padding: 20px 20px 20px 20px;
}

.images {
    width: 80%;
    margin: auto;
    padding-bottom: 120px;
}

.images>img {
    width: 16.66667%;
    padding: 0px;
    margin: 0px;
    float: left;
    display: table;
}

div.player01 {
    height: 50px;
    width: 49.85%;
    float: left;
    height: 600px;
    border: 1px solid rgb(187, 187, 187);
    display: table;
}

div.player02 {
    height: 50px;
    width: 49.9999%;
    float: right;
    height: 600px;
    border: 1px solid rgb(187, 187, 187);
    display: table;
}

#options01,
#options02 {
    width: 80%;
    margin: auto;
}

#options01>* {
    width: 100%;
    display: none;
    background-color: rgb(48, 48, 48);
    color: rgb(184, 184, 184);
}

#options02>* {
    width: 100%;
    display: none;
    background-color: rgb(48, 48, 48);
    color: rgb(184, 184, 184);
}

#canvas01 {
    width: 100%;
    height: 512px;
}

.mainbtn {
    width: 80%;
    margin: auto;
}

.special{
    background-color: rgba(185, 185, 13, 0.5) !important;
    color: white !important;
}